{% extends 'base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
{% endblock extra_head %} 

{% block body_init %}
{% endblock body_init %}

{% block page_title %}sorteios.grupy.goiania.br{% endblock page_title %}

{% block content %}
<div>
    <H3>WIFI</H3>
    <pre>
    SSID: PythonCerrado 
    Senha: pythoncerrado2019
    </pre>
</div>
<div>
    <button class="btn btn-primary btn-lg" onclick="sortear();">Sortear</button>
</div>
<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
            
            {% for pessoa in object_list %}
                      <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.email }}</td>
                      </tr>
            {% endfor %}
        </tbody>
      </table>
      <script>
        function sortear(){
            const trs = Array.from(document.querySelectorAll('tbody tr'))
            const index = Math.floor(Math.random() * trs.length);
            console.log(index);
            trs[index].style.backgroundColor = 'yellow'
        }
      
      </script>
{% endblock content %}
